{% extends "base.html" %}  
  

{% block title %}ChatCorn-NER{% endblock %}  
 
{% block page_content %}  

 

         <style  type="text/css">
            /*body {
                 设置渐变的方向和颜色 
                 background: linear-gradient(to right, rgb(235, 235, 25),  rgb(40, 148, 248));
                 创建从左到右的彩虹渐变 
            } */
            table {
                border-collapse: collapse;
              }
              th, td {
                text-align: center;
                border: 1px solid black;
                padding: 8px;
              }
            #viz {
                width: 900px;
                height: 700px;
                border: 1px solid lightgray;
                font: 22pt arial;
            }
            .toast {
                display: none;
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 18rem;
                height: 18rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(0,0,0,0.2);
                border-radius: 1rem;
                color: #f0f0f0;
                font-size: 2.5rem;
            }
         
            .load {
                display: inline-block;
                margin-bottom: 1.5rem;
                height: 4rem;
                width: 4rem;
                border: 0.4rem solid transparent;
                border-top-color: white;
                border-left-color: white;
                border-bottom-color: white;
                animation: circle 1s infinite linear;
                -webkit-animation: circle 1s infinite linear; /* Safari 和 Chrome */
                border-radius: 50%
            }
         
            @-webkit-keyframes circle {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(-360deg)
                }
            }
        </style>

 <!-- 查询图 ../dist/neovis.js-->
 <!-- <script type="text/javascript" src="neovis.js"></script> -->

<body>
<div class="toast" id="toast">
    <span class="load"></span>
    <span id="toast_text">检测中...</span>
</div>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<script>
    function NER_delete_entity(id) {
        var key=id.split('?')[0]
        var value=id.split('?')[1]
        $.ajax({
            type: 'GET',
            url: '../NER_delete_entity',
            contentType: "application/json;charset=utf-8",
            data: {
                'key': key,
                'value': value
            },
            success: function(res){
                alert(res)
                location.reload();
            }
        });

    }
    function NER_delete_type(id){
        var type=id.split('?')[0]
        $.ajax({
            type: 'GET',
            url: '../NER_delete_type',
            contentType: "application/json;charset=utf-8",
            data: {
                'type': type,
            },
            success: function(res){
                alert(res)
                location.reload();
            }
        });
    }
    function NER_add_entity(id) {
        var key=id.split('?')[0]
        var value=document.getElementById(key+'_add_entity_input_NER').value
        alert(key+" "+value)
        $.ajax({
            type: 'GET',
            url: '../NER_add_entity',
            contentType: "application/json;charset=utf-8",
            data: {
                'key': key,
                'value': value
            },
            success: function(res){
                alert(res)
                location.reload();
            }
        });
        
        
    }
    function NER_add_type(id){
        var type=document.getElementById('add_type_name_NER').value
        var entity=document.getElementById('add_type_entity_NER').value
        $.ajax({
            type: 'GET',
            url: '../NER_add_type',
            contentType: "application/json;charset=utf-8",
            data: {
                'type': type,
                'entity':entity
            },
            success: function(res){
                alert(res)
                location.reload();
            }
        });

    }

    function RE_delete_entity(id) {
        var key=id.split('?')[0]
        var value=id.split('?')[1]
        $.ajax({
            type: 'GET',
            url: '../RE_delete_entity',
            contentType: "application/json;charset=utf-8",
            data: {
                'key': key,
                'value': value
            },
            success: function(res){
                alert(res)
                location.reload();
            }
        });

    }
    function RE_delete_type(id){
        var type=id.split('?')[0]
        $.ajax({
            type: 'GET',
            url: '../RE_delete_type',
            contentType: "application/json;charset=utf-8",
            data: {
                'type': type,
            },
            success: function(res){
                alert(res)
                location.reload();
            }
        });
    }
    function RE_add_entity(id) {
        var key=id.split('?')[0]
        var value=document.getElementById(key+'_add_entity_input_RE').value
        alert(key+" "+value)
        $.ajax({
            type: 'GET',
            url: '../RE_add_entity',
            contentType: "application/json;charset=utf-8",
            data: {
                'key': key,
                'value': value
            },
            success: function(res){
                alert(res)
                location.reload();
            }
        });
        
        
    }
    function RE_add_type(id){
        var type=document.getElementById('add_type_name_RE').value
        var entity=document.getElementById('add_type_entity_RE').value
        $.ajax({
            type: 'GET',
            url: '../RE_add_type',
            contentType: "application/json;charset=utf-8",
            data: {
                'type': type,
                'entity':entity
            },
            success: function(res){
                alert(res)
                location.reload();
            }
        });

    }

</script>

<center><h2>NER</h2>
<table>
    <thead>
      <tr>
        <th>实体类型</th>
        <th>实体名称</th>
        <th>实体操作</th>
        <th>类型操作</th>
      </tr>
    </thead>
    {% for key, value in ner_list.items() %}
    <tr>
      <td rowspan= "{{ value|length+2 }}">{{ key }}</td>
      <td id="{{key}}?{{value[0]}}?value">{{ value[0] }} </td>
      <td ><button id="{{key}}?{{value[0]}}?NER_delete_entity" onclick="NER_delete_entity(this.id)">删除</button></td>
      <td rowspan= "{{ value|length +2}}"><button id="{{key}}?NER_delete_type" onclick="NER_delete_type(this.id)">删除实体类型</button></td>
      
    </tr>
    {% for i in value[1:] %}
   
    <tr>
      <td id="{{key}}?{{i}}?value">{{ i }}</td>
      <td><button id="{{key}}?{{i}}?NER_delete_entity" onclick="NER_delete_entity(this.id)">删除</button></td>
    </tr>

    {% endfor %}
    <tr>
        <td ><input id="{{key}}?add_entity_input_NER"></td>
        <td ><button id="{{key}}?add_entity_button_NER" onclick="NER_add_entity(this.id)">增加实体名称</button></td>
      </tr>
      <tr>
        
      </tr>
    {% endfor %}
    <tr>
        <td colspan="4"><button id="add_one_type_NER" onclick="NER_add_type(this.id)">增加实体类型</button></td>
    </tr>
    <tr>
        <td colspan="2"><input id="add_type_name_NER" placeholder="类型"></td>
        <td colspan="2"><input id="add_type_entity_NER" placeholder="实体名称"></td>
    </tr>
    </tbody>
</table>
<h2>RE</h2>
<table>
    <thead>
      <tr>
        <th>实体类型</th>
        <th>实体名称</th>
        <th>实体操作</th>
        <th>类型操作</th>
      </tr>
    </thead>
    {% for key, value in re_list.items() %}
    <tr>
      <td rowspan= "{{ value|length+2 }}">{{ key }}</td>
      <td id="{{key}}?{{value[0]}}?value">{{ value[0] }} </td>
      <td ><button id="{{key}}?{{value[0]}}?RE_delete_entity" onclick="RE_delete_entity(this.id)">删除</button></td>
      <td rowspan= "{{ value|length +2}}"><button id="{{key}}?RE_delete_type" onclick="RE_delete_type(this.id)">删除实体类型</button></td>
      
    </tr>
    {% for i in value[1:] %}
   
    <tr>
      <td id="{{key}}?{{i}}?value">{{ i }}</td>
      <td><button id="{{key}}?{{i}}?RE_delete_entity" onclick="RE_delete_entity(this.id)">删除</button></td>
    </tr>

    {% endfor %}
    <tr>
        <td ><input id="{{key}}?add_entity_input_RE"></td>
        <td ><button id="{{key}}?add_entity_button_RE" onclick="RE_add_entity(this.id)">增加实体名称</button></td>
      </tr>
      <tr>
        
      </tr>
    {% endfor %}
    <tr>
        <td colspan="4"><button id="add_one_type_RE" onclick="RE_add_type(this.id)">增加实体类型</button></td>
    </tr>
    <tr>
        <td colspan="2"><input id="add_type_name_RE" placeholder="类型"></td>
        <td colspan="2"><input id="add_type_entity_RE" placeholder="实体名称"></td>
    </tr>
    </tbody>
</table>

</center>
</body>

{% endblock %}
